<div class="container mt-4">
  <h1 class="text-center mb-4">Catálogo de Filmes</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Catálogos</h2>
          <p class="card-text">Cadastro de Catálogo</p>
          <a href="/AppTrabalhoAPI/src/app/components/catalogos/catalogos.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Comentários</h2>
          <p class="card-text">Cadastro de Comentário</p>
          <a href="/AppTrabalhoAPI/src/app/components/comentarios/comentarios.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Diretores</h2>
          <p class="card-text">Cadastro de Diretores</p>
          <a href="/AppTrabalhoAPI/src/app/components/diretores/diretores.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Filmes</h2>
          <p class="card-text">Cadastro de Filme</p>
          <a href="/AppTrabalhoAPI/src/app/components/filmes/filmes.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Gêneros</h2>
          <p class="card-text">Cadastro de Gênero</p>
          <a href="/AppTrabalhoAPI/src/app/components/generos/generos.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Pontuações</h2>
          <p class="card-text">Cadastro de Pontuação</p>
          <a href="/AppTrabalhoAPI/src/app/components/pontuacoes/pontuacoes.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-bory">
          <h2 class="card-title">Usuários</h2>
          <p class="card-text">Cadastro de Usuário</p>
          <a href="/AppTrabalhoAPI/src/app/components/usuarios/usuarios.component.html" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>